### Q1:

Write a try block that attempts to convert each element in the list items = ['10', '20', 'thirty', '40'] to an integer. Use an except block to catch any errors and print "Conversion error for an item."

In [ ]:
mylist = ['10', '20', 'thirty', '40']
for num in mylist:
    try:
        print(int(num))
    except:
        print("Conversion error for an item.")

10
20
Conversion error for an item.
40

### Q2

Create a function access_dict_value(d, key) that tries to access the value associated with key in the dictionary d. If the key does not exist, catch the exception and return "Key not found."

Create test cases to test your code

In [ ]:
def access_dict_value(d,key):
    try:
        return d[key]
    except:
        return "Key not found."

my_dict = {"name": "Alice", "age": 25}
print(access_dict_value(my_dict, "name"))  # Output: Alice
print(access_dict_value(my_dict, "address"))  # Output: Key not found

Alice
Key not found.

### Q3:
Write a function safe_concatenate(lst) that attempts to concatenate all elements in a list lst into a single string. If any element is not a string, catch the exception and return "Concatenation error."

Create test cases to test your code

In [ ]:
def safe_concatenate(lst):
    try:
        word = ""
        for item in range(len(lst)):
            word += lst[item]
        return word
    except:
        return "Concatenation error."

print(safe_concatenate(["Hello", " ", "World"]))  # Output: Hello World
print(safe_concatenate(["Hello", 5, "World"]))    # Output: Concatenation error

Hello World
Concatenation error.

### Q4:
Write a try block that loops through the list data = [1, 2, 'three', 4] and attempts to multiply each element by 3. Use an except block to catch any errors and print "Multiplication error."

In [ ]:
mylist = [1,2,'three',4]
try:
    for num in mylist:
        print(int(num)*3)
except:
    print("Multiplication error.")

3
6
Multiplication error.

### Q5
Create a function get_first_character(lst) that takes a list of strings and tries to return the first character of each string. If any element is not a string, catch the exception and return "Non-string element found."

Example

print(get_first_character(["apple", "banana", "cherry"]))  # Output: ['a', 'b', 'c']

print(get_first_character(["apple", 123, "cherry"]))       # Output: Non-string element found

In [ ]:
def get_first_character(lst):
    try:
        newList = []
        for item in lst:
            newList.append(item[0])
        return newList
    except:
        return "Non-string element found."

print(get_first_character(["apple", "banana", "cherry"]))
print(get_first_character(["apple", 123, "cherry"]))

['a', 'b', 'c']
Non-string element found.

### Q6:
Write a try block that attempts to access an element in a list lst = [10, 20]. If the list is too short, catch the exception and print "List index out of range."

In [ ]:
lst = [10,20]
try:
    print(lst[0])
    print(lst[2])
except:
    print("List index out of range.")

10
List index out of range.

### Q7:
Create a function safe_divide(a, b) that attempts to divide a by b. If any error occurs, return "Division error.

Create test cases to test your code

In [ ]:
def safe_divide(a,b):
    try:
        return a/b
    except:
        return "Division error."

print(safe_divide(7,4))
print(safe_divide(7,3))
print(safe_divide(4,0))

1.75
2.3333333333333335
Division error.

### Q8
Write a function get_square(lst) that takes a list of numbers and returns a list of their squares. If an element is not a number or if any error occurs, return "Square calculation error."

Create test cases to test your code

In [ ]:
def get_square(lst):
    try:
        newList = []
        for item in lst:
            newList.append(item**2)
        return newList
    except:
        return "Square calculation error."

print(get_square([1,2,3]))
print(get_square([1,2,'a']))

[1, 4, 9]
Square calculation error.

### Q9

Write a function safe_divide(a, b) that performs division of two numbers. Use try-except to handle the case where b is zero and print a custom message in that case. Add an else block to print the result when no exception occurs, and a finally block to always print "Operation complete."
Create test cases to test your code

In [ ]:
def safe_divide(a,b):
    try:
        result =  a/b
    except ZeroDivisionError:
        print("Cannot divide by zero.")
    else:
        print(result)
    finally:
        print("Operation complete.")


print("first division 4/2")
safe_divide(4,2)
print("="*20)
print("second division 4/0")
safe_divide(4,0)

first division 4/2
2.0
Operation complete.
====================
second division 4/0
Cannot divide by zero.
Operation complete.

### Q10

Write a function convert_to_int(value) that attempts to convert a string to an integer. Handle both ValueError and TypeError exceptions if the conversion fails. Use an else block to print the converted integer, and a finally block to print "Conversion attempt finished."

Create test cases to test your code

In [ ]:
def convert_to_int(string):
    try:
        num= int(string)
    except ValueError:
        print("Value error.")
    except TypeError:
        print("Type error.")
    else:
        print(num)
    finally:
      print("Conversion attempt finished")

convert_to_int("10")
convert_to_int("a")

10
Conversion attempt finished
Value error.
Conversion attempt finished